.banner {
    background: url('../img/banner-image.svg') no-repeat;
    background-size: 100%;
    width: fill;
    height: 200px;
    background-position: center;
    background-image: var(--gradiente-imagem), url('../img/banner-image.svg');
}

.banner__container {
    padding: 6em 0 0 1em;
}

.banner__titulo {
    font-weight: 700;
    font-size: 22px;
    color: white;
    margin: 0 0 0.4em 0.2em;
}

.banner__texto {
    color: white;
    font-weight: 600;
    margin: 0 0 2em 0.3em;
}

.banner__link {
    text-decoration: none;
    color: white;
    background-color: var(--azul-padrao);
    font-weight: 600;
    padding: 1em;
    margin-left: 0.3em;
}