.produtos__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.produtos__titulo {
    font-size: 22px;
    font-weight: 700;
    color: var(--cinza-escuro);
}

.produtos__link {
    display: flex;
    text-decoration: none;
    color: var(--azul-padrao);
    font-weight: 700;
}

.produtos__link p {
    margin-right: 0.5em;
}

.container__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.card {
    padding: 1em;
}

.card img, .card p, .card a {
    margin-bottom: 0.8em;
}

.card__descricao {
    font-weight: 500;
    color: var(--cinza-escuro);
}

.card__preco {
    font-weight: 700;
    font-size: 16px;
    color: var(--cinza-escuro);
}

.card__link {
    font-weight: 700;
    color: var(--azul-padrao);
    text-decoration: none;
}
